.choice {
  padding-top: 68px;
  overflow-x: hidden;
  min-height: 380px;
  @media screen and (max-width: 1070px) {
    overflow-x: unset;
    padding-block: 68px;
  }

  // .choice__container
  &__container {
    position: relative;
    // overflow: hidden;
  }
  // .choice__title
  &__title {
    font-size: 48px;
    margin-bottom: 42px;
    @media screen and (max-width: 750px) {
      font-size: 28px;
      margin-bottom: 22px;
    }
  }
  // .choice__text
  &__text {
    margin-bottom: 20px;
  }
  // .choice__balls
  &__balls {
  }
}

.choice__balls__list {
  display: flex;
  gap: 10px 70px;
  position: absolute;
  left: 0;
  right: -140px;
  justify-content: space-between;
  @media screen and (max-width: 1070px) {
    position: relative;
    right: 0;
    flex-wrap: wrap;
  }
}

.choice__balls__item {
  display: flex;
  align-items: center;
  gap: 10px 42px;
}
.item {
  // .item__img
  &__img {
    width: 100px;
    @media screen and (max-width: 500px) {
      width: 70px;
    }
  }
  // .item__content
  &__content {
  }
  // .item__title
  &__title {
    font-weight: 700;
    font-size: 24px;
  }
  // .item__text
  &__text {
  }
}
