//Переменные=========================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1320;
$md1: $maxWidthContainer + 12;
$netbook: 991.98 + px;
$tablet: 767.98;
$phone: 479.98;
$burgerBreakpoint: 767.98 + px;
$burgerColor: #131418;
$burgerActiveColor: #fefefe;
$mainColor: #fefefe;
$mainColorHover: #131418;
$fontSizeMobileMenu: 20 + px;

