<section class="choice">
  <div class="choice__container">
    <h2 class="choice__title">Начни игру с выбора мяча</h2>
    <p class="choice__text">
      Любой спорт с чего-то начинается. Мы предлагаем ознакомиться с ассортиментом наших фирменных игровых мячей и
      выбрать свой. Ворвись в игру с максимальным преимуществом и обойди всех соперников с бонусами и отличным
      настроением.
    </p>
    <div class="choice__balls">
      <ul class="choice__balls__list">
        <li class="choice__balls__item">
          <img class="item__img" src="/world-cup.webp" alt="world-cup" />
          <div class="item__content">
            <h3 class="item__title">ГИГАМЯЧ</h3>
            <p class="item__text">отличный выбор для новичка</p>
          </div>
        </li>
        <li class="choice__balls__item">
          <img class="item__img" src="/world-cup.webp" alt="world-cup" />
          <div class="item__content">
            <h3 class="item__title">ТУРБОМЯЧ</h3>
            <p class="item__text">для тех кто любит скорость</p>
          </div>
        </li>
        <li class="choice__balls__item">
          <img class="item__img" src="/world-cup.webp" alt="world-cup" />
          <div class="item__content">
            <h3 class="item__title">МУДРОМЯЧ</h3>
            <p class="item__text">хитрый игрок оценит</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
