<header class="header">
  <div class="header__container">
    <div class="header__navbar">
      <!-- logo -->
      <a class="header__logo" href="/">Футбольчик</a>
      <!-- menu  -->
      <nav class="header__menu">
        <ul class="header__menu_list">
          <li class="header__menu_item">
            <a href="#" class="header__menu_link">Главная</a>
          </li>
          <li class="header__menu_item">
            <a href="#" class="header__menu_link">Внутренняя про игру</a>
          </li>
          <li class="header__menu_item">
            <a href="#" class="header__menu_link">Контакты</a>
          </li>
        </ul>
      </nav>
      <button class="header__button" aria-label="Кнопка" role="Кнопка">Кнопка</button>
      <!-- burger button -->
      <button class="burger" aria-label="burger" role="burger">
        <span></span>
      </button>
    </div>
  </div>
</header>
