<section class="hero">
  <img class="hero__bg" src="/stadium-1.webp" alt="stadium" loading="lazy" />
  <div class="hero__container">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="hero__title">Любишь футбол?</h1>
        <p class="hero__text">Получи мяч на первую игру</p>
        <div class="hero__btn">
          <button role="button" aria-label="description-ball-retrieval">Получить мяч</button>
        </div>
      </div>
      <div class="hero__img">
        <img src="/soccer-kick.webp" alt="soccer-kick" />
      </div>
    </div>
  </div>
</section>
