<!-- Slider main container -->
<div class="swiper {=$class}">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="/src/assets/images/01.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/src/assets/images/02.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/src/assets/images/03.jpg" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/src/assets/images/01.png" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/src/assets/images/02.png" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="/src/assets/images/03.png" alt="" />
    </div>
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <!-- <div class="swiper-scrollbar"></div> -->
</div>
